.footer{
    color:white;
    background-color: black;
    display: grid;
    width: 100%;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color:white;
}