
.navContainer{
    position: absolute;
    z-index: -100;
    width:100%;
    height:55rem;
    background-image: url("../../../public/assets/home/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    width: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    //background-color: black;
    color:white;
    padding: 2rem 0 2rem 0;
    border-bottom: #979797 solid thin;

    p{
        width: 10rem;
        font-weight: 800;
        font-size: 1.5rem
    }

    .imgContainer{

        width:10rem;
    }

    ul{
        width: 34rem;

        li{ 
            font-weight: 600;
            font-size: 0.8rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 0 1rem 0 1rem;   
            list-style: none;
            display: inline; 
        }
    }
}

.subHeader{

    border-top: gray thin solid;

}

.categoryName {
    justify-self: center;
}

.homeProductItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:45rem;
    width: 35%;

    p{
        margin-top: 1.2rem;
    }

    p:first-child{
        text-transform: uppercase;
        font-weight: 400;
        color:#979797;
        letter-spacing: 10px;

    }

    p:nth-child(2){
        text-transform: uppercase;
        font-weight: 600;
        color:white;
        font-size: 2.9rem;
        letter-spacing: 2px;
    }

    p:nth-child(3){
        width:80%;
        font-weight: 200;
        color:#979797;
    }
 }