.Cart{
    display: flex;
    flex-direction: column;
    min-width: 20rem;

    .cartImage{
           width: 5rem;
           height: 5rem;
           object-fit: contain; 
    }

    .productInfo{
        width: 15rem;
        
        p{
            padding: 0.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .price{
            color:#979797;
        }
    }

    & > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0rem 1rem 0rem;
    }
}