.Cart{
    display: flex;
    flex-direction: column;
    min-width: 20rem;

    p{
        color: black;
        font-size: 1rem;
    }

    .cartImage{
           width: 5rem;
           height: 5rem;
           object-fit: contain; 
    }

    .productInfo{
        width: 15rem;
        color:black;
        
        p{
            font-size: 1rem;
            padding: 0.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .price{
            color:#979797;
        }
    }

    & > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0rem 1rem 0rem;

        & > p:last-child{
            text-align: right;
        }
    }
}



@media only screen and (min-device-width:480px) and (max-device-width: 768px) {

    .Cart{
        .cartImage{
            width: 10rem;
            height: 10rem;
        }

        p{
            font-size: 2rem;
        }
        
        .productInfo{
            
            p{
                font-size: 2rem;
            }
        }
        
        & > div{
            width: 40rem;
        }
        
    }
    
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .Cart{
        .cartImage{
            width: 10rem;
            height: 10rem;
        }


        p{
            font-size: 2rem;
        }

    
    
        .productInfo{
            
            p{
                font-size: 2rem;
            }
        }

        & > div{
            width: 45rem;
        }
        
    }
}