.tripleColumns{
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    justify-content: center;
    column-gap: 1rem ;
    min-height: 25rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .tripleColumns{
        display: grid;
        grid-template-rows: repeat(3, 20rem);
        grid-template-columns: none;
        justify-content: center;
        row-gap: 1rem ;
    }    

}