.tripleColumn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 1rem;
    row-gap: 2rem;
    align-items: center;
    justify-items: center;
    grid-template-areas: ". title ."
                         "firstCol secondCol lastCol" ;

    font-weight: 600;
    text-transform: uppercase;

    .imgContainer{
        width:24rem;
    }

    h3{
        grid-area:title;
        font-size: 1.8rem;
    }

    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            margin-top: 2rem;
        }

    }

    .col:nth-child(2){
        grid-area:firstCol;
    }

    .col:nth-child(3){
        grid-area:secondCol;
    }

    .col:last-child{
        grid-area:lastCol;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


    .tripleColumn{
        grid-template-rows: 1fr auto;
        grid-template-columns:none;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
        grid-template-areas: "title"
                             "firstCol" 
                             "secondCol"
                             "lastCol" ;


        .imgContainer{
            width:auto;
            height:auto;
        }
    
        h3{
            grid-area:title;
            font-size: 1.8rem;
        }
    
        .col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            p{
                margin-top: 2rem;
                font-size: 2rem;

            }
        }
    
        .col:nth-child(2){
            grid-area:firstCol;
        }
    
        .col:nth-child(3){
            grid-area:secondCol;
        }
    
        .col:last-child{
            grid-area:lastCol;
        }
    }

}