:root{
  --dark-orange: #D87D4A;
  --light-orange: #fbaf85;
  --light-black: #101010;
  --light-gray: #FAFAFA;
  --dark-gray: #F1F1F1;

  --radius: 0.7rem;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  border-radius: var(--radius);
}
